.linkStyle {
  background-color: ghostwhite;
  box-sizing: border-box;
  width: 2em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  border-radius:50%;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #393939; }
  .linkStyle:hover {
    text-decoration: none;
    color: #393939; }

.linkStyleSelected {
  background-color: midnightblue;
  text-align: center;
  color: white;
  width: 2em;
  border-radius:50%;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
  .linkStyleSelected:hover {
    text-decoration: none;
    color: white; }

.feedcontainer {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin: 2em 2em;
  padding: 1em;  
  position: relative; }
  .feedcontainer:before, .feedcontainer:after {
    content: "";
    width: 40%;
    position: absolute;
    height: 1em;
    box-shadow: 0 15px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.2s linear;
    bottom: 0.8em; }
  .feedcontainer:before {
    transform: rotate(-1deg);
    left: 0.1em;
    z-index: -1; }
  .feedcontainer:after {
    transform: rotate(1deg);
    right: 0.1em;
    z-index: -1; }

.feedimg {
  width: 320px;
  height: 180px;
  margin-right: 1em; }

.feedtext {
  width:40%;
  display:inline-block;
  vertical-align: top;
 
   }

.feedtitle {
  padding: 0;
  margin: 0; 
  font-size:1.8em;

}

.feeddate {
  margin: 0;
  padding: 1em 0;
  font-weight: bold; }

.feeddescription {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 3.5em;
  margin: 0;
  padding: 1em 0; }

.pagination {
  width: 100%;
  
  display:flex;
  align-items:center;
  justify-content:center;

  text-align: center;
  margin-bottom: 3em; }

.pagination div {
  height:2em;
}

.resPerPage {
  padding: 0 0.5em 0 2em;
  height: 100%;
  display: inline-block;
  vertical-align: text-top; }

.pagination button:nth-of-type(2) {
  margin-right: 1em; }

.pagination button:nth-of-type(3) {
  margin-left: 1em; }

.pageButton {
  height: 100%;
  border: none;
  background-color: none;
  box-shadow: 0 0 2px grey;
  font-family: 'PT Sans', sans-serif;
  padding: 0 0.5em;
  background-color: transparent;
  vertical-align: middle; 
  width:2em;

}
.pagesForMobile {
  display:none;
}

.selectStyle {
  height: 100%;
  padding: 0 0.4em;
  border: none;
  box-shadow: 0 0 2px grey;
  vertical-align: middle;
  color: #393939; }

@media (max-width: 42em) {
  .pagination {
    flex-direction:column;
  }
  .pagesForMobile {
    display:inline-block;
  }
  .feedtitle {
    font-size:1.7em;
    padding:0.2em 0;
  }

  .feedimg {
    width: 320px;
    height: 180px;
    margin: 0; }
  .feedcontainer {
    display:flex;
    flex-direction: column;
    align-items: center; }
  .feedtext {
    width: 320px; }
  .feedcontainer:before {
    transform: rotate(-3deg); }
  .feedcontainer:after {
    transform: rotate(3deg); } 
  .linkStyle {
    display:none;
  }
  .pageButton {
    width:4em;
  }
  .linkStyleSelected {
    display:none;
  }
  .pagination div {
    height:4em;
  }
  .pagination div:nth-of-type(2) {
    display:none;
  }

  }

@media (max-width: 25em) {
  .feedimg {
    width: 213px;
    height: 120px; }
  .feedtext {
    width: 213px; } 


  }
